.image-container {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}
  
.image-container img {
    width: auto;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    background-color: #00000029;
    border-width: 2px;
    border-width: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff; 
}

.card-title {
    color: #fff;
}

.card-text {
    color: #fff;
}

.center-container {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.center-container img {
    height: 50vh;
    width: auto;
    max-width: 100%;
    border-radius: 20px;
    margin-top: 15px;
    object-fit: cover;
}
  
@media screen and (min-height: 900px) { 
    .center-container img {
        height: 60vh;
        width: auto;
    }
}

.api-search-container {
    background-color: #00000029;
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    overflow: auto;
    margin-right: 10px;
}


