.image-container {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}
  
.image-container img {
    width: auto;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    /* bckground-position: center; */
    background-repeat: no-repeat;
}

.card {
    background-color: #00000029;
    border-width: 2px;
    border-color: #fff;
    color: #fff; 
}

.card-title {
    color: #fff;
}

.card-text {
    color: #fff;
}

.center-container {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.center-container img {
    height: 50vh;
    width: auto;
    max-width: 100%;
    border-radius: 20px;
    margin-top: 15px;
    object-fit: cover;
}

.btn-create-event{
    margin-bottom: 20px;
    margin-left: 10px;
}
  
@media screen and (min-height: 900px) { 
.center-container img {
    height: 60vh;
    width: auto;
}
}
  
