.profile-container{
    width: 450px;
    min-width: 350px;
    background-color: rgba(244, 244, 244, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding: 20px;
}
.invisible-profile{
    display: none ;
}
.content-container{
    position: fixed;
    top: 100px;
    left: 80px;
    right: 80px;
    bottom: 150px;
}

.ul-profile{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.userId{
    font-weight: 500;
    font-size: 1em;
    color: #D29FA1;
}
.eventId{
    font-weight: 600;
    font-size: 1em;
    color: #E9AB94;
}

.btn-pink {
    display: inline-block;
    padding: 10px 15px;
    background-color: #D29FA1; 
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-start;
    }

/* .user-name{
    color:#AE8B9F;
} */