.searchform {
    height: 50px;
    width: 350px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1) ;
    overflow: hidden;
    border-radius: 40px; 
}

@media (min-width: 768px) {
    .searchform {
    width: 500px;} 
}

.searchform .form-control {
    width: calc(100% - 50px);
    height: 50px;
    border: none;
    background: #fff !important;
    color: rgba(0, 0, 0, 0.7) !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.searchform .search {
    width: 50px;
    height: 50px;
    background: #c5c5c5ad !important; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.searchform .search i {
    font-size: 16px;
    color: #fff; 
}

.searchform .search i:hover {
    color: #7e6983; 
}

.searchform-position {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
