body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  position: relative; 
  width: 100vw;
  overflow-x: hidden; 
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1; 
}

body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible; 
}

p {
  color: #b3b3b3;
  font-weight: 300; 
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}

a, a:hover {
  text-decoration: none !important; 
}

.background {
  background-image: url('../public/pics/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; 
}

.btn:after, .btn:before {
  display: none; 
}

.btn:hover, .btn:focus, .btn:active {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; 
}

.btn.btn-outline-white {
  background: transparent;
  border-width: 2px;
  border-color: #fff;
  color: #fff; 
}

.btn.btn-outline-white:hover {
  background: #fff;
  color: #000; 
}

.btn.btn-outline-black {
  background: rgba(128, 128, 128, 0.8);
  border-width: 2px;
  color: white; 
}

.btn.btn-outline-black:hover {
  background: rgba(128, 128, 128, 0.2);
  color: black; 
}

.wd-fg-color-white { 
  color: white; 
}
